*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
/*--------------------*/


body {
	font-family: 'Times New Roman';
	background-color: #e8e8e8;
	opacity: 0.80;
	font-size: 24px;
	line-height: 40px;
}

header {
	background-color: #fff;
	margin: auto;
	text-align: center;
}

main {
	border-bottom: 1px solid	#000 ;
	border-top: 1px solid	#000 ;;
}

div {
   padding: 15px 0px;
   text-align: center;
}

  .wrapper {
   border: 5px solid  #fff;
		border-radius: 25px;
		width: 65%;
		height: 65%;
  }
  .exmpl img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
  }

.b1, .b2, .b3, .b4 {
	padding: 0px;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.info {
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info:last-child {
	border-bottom: none;
}

.info-foto {
	width: 25%;
	height: 25%;
}

.info-me {
	width: 25%;
	
}


h1 {
	text-align: center;
	margin: 25px 0px;
}

h2 {
	margin-bottom: 10px;
}

.text-info {
	opacity: 0.80;
	font-size: 24px;
	line-height: 40px;
	color: #273d46;
	text-align: justify;
}

.text-info2 {
	padding: 0;
	margin: 0;
	color: #273d46;
	text-align: center;
}
	

.skills {
	width: 25%;

}

.contact {
	width: 25%;

}

.code {
	width: 25%;
}

code {
	background-color: #fff;
}

.project {
		width: 25%;
		text-decoration: none;
}

.project:hover{
	text-decoration: underline;
}

.Education {
	width: 25%;

}

.Language {
	width: 25%;

}

footer {
	background-color: #fff;
}

.footer-content {
	padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.git, .time, .rs {
	padding: 0;
	margin: 0;
	text-align: center;		
}

.rs, .git {
padding: 5px 0 0 0;
}

#rs-logo {
	width: auto;
	height: 25px;
}

#git-logo {
	width: auto;
	height: 25px;
}



nav {
	font-size: 14px;
	border: 1px solid #80b7b3;
	border-radius: 100px ;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	background-color: #80b7b3;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #ffffff;
	padding: 0 10px;
}

nav:hover{
	background-color: #3a5856;
}

nav:active{background-color: #818181;}


.list li{
	font-size: 20px;
	line-height: 36px;
	text-align: justify;
}



.list li {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}


.list li:before{
	content: '✔';
	width: 25px;
	height: 19px;
	color: #80b7b3;
	padding: 0 10px 0 0;
	font-style: normal;
	text-shadow: 0 0 0;
	opacity: 1;
	text-decoration: none;
	font-weight: 400;
}

.list2 li{
	font-size: 20px;
	line-height: 36px;
	text-align: justify;
}

ul {
	text-align: center;
}

